*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
   
    

}
body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

h2{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

[class*="col-"]{
    float: left;
    padding:10px;
}

/*
    for mobile
*/

[class*="col-"]{
    width: 100%;
}



/* nav-bar starts */



.nav-bar{
    background-color: #000000;
    padding: 1% 7%;
    text-align: center;
}

.nav-bar h1{
    color:#00DB3A ;
    font-family: 'Monoton', cursive;
    font-size: 45px;
    padding-top: 210px;
    

}

.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    



}

.nav-menu a{
   background-color: transparent;
   font-family: 'Kaushan Script', cursive;
   margin: 7px 7px;
   padding: 10px;

}
.nav-menu a:hover{
    background-color: #00DB3A;


    
    
}



.nav-bar::after{
    content: '';
    display: table; 
    clear: both;
}



/* nav-bar ends */




/* Profile starts here */

.profile{
    background-color: #00DB3A;
    padding: 130px 10px;
    position: relative;
    text-align: center;


}

/* Icon */

.profile .coderIcon1{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;

}

.profile .coderIcon1:hover{
    transform: rotate(360deg);

}

.profile .coderIcon2{
    position: absolute;
    left: 60px;
    bottom: 20px;
    transition: transform 2s;

}

.profile .coderIcon2:hover{
    transform: rotate(360deg);
}

/* IconEnds */



.profileDes h1{
    font-family: 'Kaushan Script', cursive;

}

.profileDes p{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin: 0 auto 20px auto;

}

.profile::after{
    content: '';
    display: table;
    clear: both;

}


/* about me design */

.aboutMeDes{
    background-color:#000000 ;
    padding: 1% 7%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    



}

.aboutmeImg img{
    border:  5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;

}

.aboutMeDes p{
    text-align: center;
    margin-bottom: 0px;
    
    
}





















.aboutMeDes::after{
    clear: both;
    display: table;
    content: '';


}





/* Educational bacground */




.experience{
    background-color: #00DB3A ;
    margin-top: 0px;
    
    
    
}

.experience .education{
    height: 600px ;
    width: 100%;
    background-color: #00DB3A;
    
    border-radius: 10px;
    
}





.education h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
    font-size: 32px;
    padding-top: 20px;


}

.education p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0); 



}

.experience .education .hr{
    color: black;
    width: 80%;
    height: 1px;

}








/* Footer */


.footer{


    height: 400px;
    width: 100%;
    background-color: black;



}



.footer .internal .copyright{
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 300px;
   


}



























